@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  line-height: 1.5;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 50px 0;
  text-align: justify;
}

h1 {
  font-size: 3.0rem;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
}

select {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
}

#submit {
  background-color: #47b9db;
  color: white;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background-color: #29b3dd;
}

table {
  margin-top: 40px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid grey;
  text-align: left;
  padding: 10px 15px;
}

.status-button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid grey;
}

.delete-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e41a67;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #a31049;
}